# Default ignored files
/shelf/
/workspace.xml

# Compiled Java files
*.class

# Build directories
/bin/
/build/
/out/

# Gradle files
.gradle/
!gradle-wrapper.jar

# Maven files
/target/

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Log files
*.log